<div class="container">
  <h2>Register</h2>

  <form class="form-horizontal" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="Name" name = "user[name]">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="Email" name = "user[email]">
      </div>
    </div>
    
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" id="Password" name = "user[password]"> 
      </div>
    </div>

    <div class="form-group">
      <label for="password_confirm" class="col-sm-2 control-label">Password COnfirmation</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" id="Password_Confirmation" name = "user[password_confirmation">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <input class="form-control btn btn-primary" type="submit" name="Join" value="Join">
      </div>
    </div> 
  </form>

  <p>Already have an account</p>
  <a href="/sessions/new">Login</a>
</div>